// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper{
  width: auto;
  height: 3000px;
  background-color: #ede9df;
}

.form-space{
  height: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.form{
  height: 200px;
  margin: 0 auto;
}

.searchbox{
  width: 1200px;
  margin: 20px 20px 0px 20px;
}


.video-space{
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
}

.video-box{
  margin: 20px;
  width: 600px;
}


a{
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 1.4rem;
}